<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
  <meta name="Description" content="Babylon.js example using TypeScript">

  <title>Babylon.js Typescript example</title>  
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <canvas id="renderCanvas" style="display:none"></canvas>
</body>

</html>
